@import "tailwindcss";

\:root {
    --foreground: #0A2D81; /* deep blue */
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: url('/background.png') no-repeat center center fixed;
    background-size: cover;
    color: var(--foreground);
    font-family: 'Times New Roman', Times, serif;
}


/* Hide scrollbar for scrollable sections */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
